openapi: 3.0.0
info:
  title: BMC 数据管理 API
  description: 用于管理商业模型画布（Business Model Canvas）数据的 API 接口
  version: 1.0.0
servers:
  - url: 'https://sxo.cc/open'
    description: 生产环境
paths:
  /create:
    post:
      summary: 创建 BMC 数据
      description: 创建新的商业模型画布数据，需要创建权限
      tags:
        - BMC 管理
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - title
              properties:
                id:
                  type: string
                  description: BMC 唯一标识符，只能包含字母、数字、下划线和连字符
                  pattern: '^[a-zA-Z0-9_-]+$'
                title:
                  type: string
                  description: BMC 标题
                  minLength: 1
                description:
                  type: string
                  description: BMC 描述
                bmc:
                  type: object
                  description: BMC 画布数据
                  properties:
                    customerSegments:
                      type: array
                      description: 客户细分
                      items:
                        type: string
                    valuePropositions:
                      type: array
                      description: 价值主张
                      items:
                        type: string
                    channels:
                      type: array
                      description: 渠道通路
                      items:
                        type: string
                    customerRelationships:
                      type: array
                      description: 客户关系
                      items:
                        type: string
                    keyResources:
                      type: array
                      description: 核心资源
                      items:
                        type: string
                    keyActivities:
                      type: array
                      description: 关键业务
                      items:
                        type: string
                    keyPartnerships:
                      type: array
                      description: 重要合作
                      items:
                        type: string
                    costStructure:
                      type: array
                      description: 成本结构
                      items:
                        type: string
                    revenueStreams:
                      type: array
                      description: 收入来源
                      items:
                        type: string
      responses:
        '200':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 创建的 BMC ID
                      created:
                        type: boolean
                        example: true
        '400':
          description: 请求参数错误
        '403':
          description: 权限不足
        '409':
          description: 资源已存在
        '500':
          description: 服务器内部错误
  /update:
    post:
      summary: 更新 BMC 数据
      description: 更新现有的商业模型画布数据，需要更新权限
      security:
        - ApiKeyAuth: []
      tags:
        - BMC 管理
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: BMC 唯一标识符
                  pattern: '^[a-zA-Z0-9_-]+$'
                title:
                  type: string
                  description: BMC 标题
                description:
                  type: string
                  description: BMC 描述
                bmc:
                  type: object
                  description: BMC 画布数据
                  properties:
                    customerSegments:
                      type: array
                      description: 客户细分
                      items:
                        type: string
                    valuePropositions:
                      type: array
                      description: 价值主张
                      items:
                        type: string
                    channels:
                      type: array
                      description: 渠道通路
                      items:
                        type: string
                    customerRelationships:
                      type: array
                      description: 客户关系
                      items:
                        type: string
                    keyResources:
                      type: array
                      description: 核心资源
                      items:
                        type: string
                    keyActivities:
                      type: array
                      description: 关键业务
                      items:
                        type: string
                    keyPartnerships:
                      type: array
                      description: 重要合作
                      items:
                        type: string
                    costStructure:
                      type: array
                      description: 成本结构
                      items:
                        type: string
                    revenueStreams:
                      type: array
                      description: 收入来源
                      items:
                        type: string
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 更新的 BMC ID
                      updated:
                        type: boolean
                        example: true
        '400':
          description: 请求参数错误
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '500':
          description: 服务器内部错误
  /delete:
    post:
      summary: 删除 BMC 数据
      description: 删除指定的商业模型画布数据，需要删除权限
      security:
        - ApiKeyAuth: []
      tags:
        - BMC 管理
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 要删除的 BMC 唯一标识符
                  pattern: '^[a-zA-Z0-9_-]+$'
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 删除的 BMC ID
                      deleted:
                        type: boolean
                        example: true
        '400':
          description: 请求参数错误
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '500':
          description: 服务器内部错误
  /detail:
    get:
      summary: 获取 BMC 详情
      description: 获取指定 BMC 的详细信息，需要读取权限
      security:
        - ApiKeyAuth: []
      tags:
        - BMC 查询
      parameters:
        - name: id
          in: query
          required: true
          description: BMC 唯一标识符
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: BMC ID
                      title:
                        type: string
                        description: BMC 标题
                      description:
                        type: string
                        description: BMC 描述
                      created:
                        type: string
                        description: 创建日期
                      author:
                        type: string
                        description: 作者
                      bmc:
                        type: object
                        description: 完整的 BMC 画布数据
        '400':
          description: 请求参数错误
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '500':
          description: 服务器内部错误
  /list:
    get:
      summary: 获取 BMC 列表
      description: 获取 BMC 数据列表，支持分页和排序，需要读取权限
      security:
        - ApiKeyAuth: []
      tags:
        - BMC 查询
      parameters:
        - name: page
          in: query
          required: false
          description: 页码，默认为 1
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: 每页数量，默认为 20，最大 100
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sort
          in: query
          required: false
          description: 排序字段，支持 created 或 title
          schema:
            type: string
            enum:
              - created
              - title
            default: created
        - name: order
          in: query
          required: false
          description: 排序方向，asc 或 desc
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        description: BMC 列表
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: BMC ID
                            title:
                              type: string
                              description: BMC 标题
                            description:
                              type: string
                              description: BMC 描述
                            created:
                              type: string
                              description: 创建日期
                            author:
                              type: string
                              description: 作者
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            description: 当前页码
                          limit:
                            type: integer
                            description: 每页数量
                          total:
                            type: integer
                            description: 总数量
                          pages:
                            type: integer
                            description: 总页数
        '403':
          description: 权限不足
        '500':
          description: 服务器内部错误
  /search:
    get:
      summary: 搜索 BMC 数据
      description: 根据关键词搜索 BMC 数据，支持多字段搜索和分页，需要读取权限
      security:
        - ApiKeyAuth: []
      tags:
        - BMC 查询
      parameters:
        - name: q
          in: query
          required: true
          description: 搜索关键词
          schema:
            type: string
            minLength: 1
        - name: page
          in: query
          required: false
          description: 页码，默认为 1
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: 每页数量，默认为 20，最大 100
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: fields
          in: query
          required: false
          description: '搜索字段，多个字段用逗号分隔，默认为 title,description'
          schema:
            type: string
            pattern: '^[a-zA-Z_,]+$'
            default: 'title,description'
      responses:
        '200':
          description: 搜索成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        description: 搜索结果列表
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: BMC ID
                            title:
                              type: string
                              description: BMC 标题
                            description:
                              type: string
                              description: BMC 描述
                            created:
                              type: string
                              description: 创建日期
                            author:
                              type: string
                              description: 作者
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            description: 当前页码
                          limit:
                            type: integer
                            description: 每页数量
                          total:
                            type: integer
                            description: 总数量
                          pages:
                            type: integer
                            description: 总页数
                      highlight:
                        type: object
                        description: 搜索结果高亮信息，键为 BMC ID，值为高亮字段
        '400':
          description: 请求参数错误
        '403':
          description: 权限不足
        '500':
          description: 服务器内部错误
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
security:
  - ApiKeyAuth: []
tags:
  - name: BMC 管理
    description: BMC 数据的增删改操作
  - name: BMC 查询
    description: BMC 数据的查询和搜索操作
